<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/advertise?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="com/advertisement/entity/District.hbm.xml"/>
    <mapping resource="com/advertisement/entity/Area.hbm.xml"/>
    <mapping resource="com/advertisement/entity/Division.hbm.xml"/>
    <mapping resource="com/advertisement/entity/OtherComment.hbm.xml"/>
    <mapping resource="com/advertisement/entity/HouseComment.hbm.xml"/>
    <mapping resource="com/advertisement/entity/Admin.hbm.xml"/>
    <mapping resource="com/advertisement/entity/CarAdvertise.hbm.xml"/>
    <mapping resource="com/advertisement/entity/CarComment.hbm.xml"/>
    <mapping resource="com/advertisement/entity/OtherAdvertise.hbm.xml"/>
    <mapping resource="com/advertisement/entity/Category.hbm.xml"/>
    <mapping resource="com/advertisement/entity/HouseAdvertise.hbm.xml"/>
    <mapping resource="com/advertisement/entity/User.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
